@import 'compass/reset';

$bg: #bb574e;
$nav: #ffffff;
$cont: #000000;
$navTop: 20px;

body {
	width: 800px; margin: 0 auto; font-family: Helvetica; margin-top: 4em;
	font-size: 1em / 1.5em; /** 16px **/; color: $nav; border: 1px solid darkgrey;

	header {
		height: 60px;
		width: 100%;
		background-color: $bg;
		vertical-align: middle;
		h2 {
			width: 40%; float:left; text-align:left; margin-top: 18px;
			font-weight: bold; font-size: 1.25em; padding-left: 20px;
		}
		ol {
			width: 40%; padding: 20px; float:right; text-align:right;
			font-size: 1em; font-weight: bold;
			li { display:inline; padding: 0 0.35em;}
			a { color: $nav; }
		}
	}
	aside {
		color: $cont; padding: 30px 0; width: 150px; float: left; margin: 10px;
		margin: 0 20px; font-size: 1.5em; line-height: 1.75em; font-weight: bold;
	}

	.content {
		color: $cont;
		padding: 30px 0;
		width: 500px;
		float: right;
		margin: 0 20px;
		h2 {
			font-size: 1.75em;
			line-height: 1.75em;
			font-weight: bold;
		}
		p {
			line-height: 1.75em;
			margin-top: 0.25em;
		}
	}

	footer {
		width: 100%; height: 60px; background-color: $bg;  clear:both;
		p { padding: 20px; font-weight: bold;}
	}
}

