/* line 17, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/main.scss */
body {
  width: 800px;
  margin: 0 auto;
  font-family: Helvetica;
  margin-top: 4em;
  font-size: 1em / 1.5em;
  /** 16px **/
  color: white;
  border: 1px solid darkgrey;
}
/* line 12, ../sass/main.scss */
body header {
  height: 60px;
  width: 100%;
  background-color: #bb574e;
  vertical-align: middle;
}
/* line 17, ../sass/main.scss */
body header h2 {
  width: 40%;
  float: left;
  text-align: left;
  margin-top: 18px;
  font-weight: bold;
  font-size: 1.25em;
  padding-left: 20px;
}
/* line 21, ../sass/main.scss */
body header ol {
  width: 40%;
  padding: 20px;
  float: right;
  text-align: right;
  font-size: 1em;
  font-weight: bold;
}
/* line 24, ../sass/main.scss */
body header ol li {
  display: inline;
  padding: 0 0.35em;
}
/* line 25, ../sass/main.scss */
body header ol a {
  color: white;
}
/* line 28, ../sass/main.scss */
body aside {
  color: black;
  padding: 30px 0;
  width: 150px;
  float: left;
  margin: 10px;
  margin: 0 20px;
  font-size: 1.5em;
  line-height: 1.75em;
  font-weight: bold;
}
/* line 33, ../sass/main.scss */
body .content {
  color: black;
  padding: 30px 0;
  width: 500px;
  float: right;
  margin: 0 20px;
}
/* line 39, ../sass/main.scss */
body .content h2 {
  font-size: 1.75em;
  line-height: 1.75em;
  font-weight: bold;
}
/* line 44, ../sass/main.scss */
body .content p {
  line-height: 1.75em;
  margin-top: 0.25em;
}
/* line 50, ../sass/main.scss */
body footer {
  width: 100%;
  height: 60px;
  background-color: #bb574e;
  clear: both;
}
/* line 52, ../sass/main.scss */
body footer p {
  padding: 20px;
  font-weight: bold;
}
