/* line 17, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/main.scss */
body {
  width: 800px;
  margin: 0 auto;
  font-family: Helvetica;
  margin-top: 3em;
  margin-bottom: 4em;
  font-size: 1em / 1.5em;
  /** 16px **/
  color: white;
  border: 1px solid darkgrey;
}
/* line 21, ../sass/main.scss */
body a {
  color: #51231f;
}
/* line 25, ../sass/main.scss */
body header {
  height: 60px;
  width: 100%;
  background-color: #bb574e;
  vertical-align: middle;
  position: relative;
}
/* line 31, ../sass/main.scss */
body header h2 {
  position: relative;
}
/* line 33, ../sass/main.scss */
body header h2 a {
  width: 40%;
  float: left;
  text-align: left;
  margin-top: 18px;
  font-weight: bold;
  font-size: 1.25em;
  padding-left: 20px;
  color: white;
  text-decoration: none;
}
/* line 39, ../sass/main.scss */
body header ul {
  width: 40%;
  padding: 20px;
  float: right;
  text-align: right;
  font-size: 1em;
  font-weight: bold;
}
/* line 42, ../sass/main.scss */
body header ul li {
  display: inline;
  padding: 0 0.35em;
}
/* line 43, ../sass/main.scss */
body header ul a {
  color: white;
}
/* line 46, ../sass/main.scss */
body .content {
  color: black;
  height: 100%;
  width: 760px;
  margin: 20px;
}
/* line 52, ../sass/main.scss */
body .content h2 {
  font-size: 1.75em;
  line-height: 1.75em;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 56, ../sass/main.scss */
body .content .order {
  height: 200px;
  padding: 20px 0 20px 0;
}
/* line 59, ../sass/main.scss */
body .content .order .left-col {
  width: 200px;
  clear: both;
}
/* line 63, ../sass/main.scss */
body .content .order .post {
  width: 500px;
}
/* line 65, ../sass/main.scss */
body .content .order .post a {
  color: #bb574e;
  text-decoration: none;
}
/* line 68, ../sass/main.scss */
body .content .order .post a:hover, body .content .order .post a:focus {
  color: #51231f;
  outline: 0;
}
/* line 73, ../sass/main.scss */
body .content .order .post h2 {
  font-size: 1.75em;
  line-height: 1.75em;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 76, ../sass/main.scss */
body .content .order .post p {
  line-height: 1.75em;
  margin-top: 0.25em;
}
/* line 82, ../sass/main.scss */
body .content form input {
  margin: 10px 0 5px 0;
  display: block;
}
/* line 89, ../sass/main.scss */
body footer {
  width: 100%;
  height: 60px;
  background-color: #bb574e;
  clear: both;
}
/* line 91, ../sass/main.scss */
body footer p {
  padding: 22px;
  font-weight: bold;
}
/* line 94, ../sass/main.scss */
body hr {
  border-color: #d3d3d3;
  opacity: 0.25;
}
/* line 96, ../sass/main.scss */
body hr:last-of-type {
  display: none;
}
